fe/node_modules/
fe/.next/

Explorations/downloaded-data/nearest-container-for-buildings/
Explorations/downloaded-data/land-registry/
Explorations/downloaded-data/land-registry-geojson/
Explorations/downloaded-data/land-registry-geojson-3/
Explorations/downloaded-data/containers-geojson/
Explorations/tmp/
Explorations/shp/
Explorations/plots/
certbot/
**/.vscode/
Explorations/container-measurements/
Explorations/downloaded-data/filtered-buildings/

Explorations/**/*.geojson
Explorations/**/*.shp
Explorations/**/*.prj
Explorations/**/*.sbn
Explorations/**/*.sbx
Explorations/**/*.shx
Explorations/**/*.cpg
Explorations/**/*.dbf
Explorations/**/*.xml
Explorations/**/*.csv
Explorations/**/*.json
Explorations/map.osm
Explorations/map.osm.cache
Explorations/map.osm.pbf